*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

h4{
width: 20px;
font-size:x-large;
margin-bottom: 20px;
}

.form-login{
  width: 300px;
  height: 350px;
  background-image:linear-gradient(#bd09b7, #6b4cf5) ; 
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  box-shadow: 3px 3px 5px 10px #570b52;
}

.controls {
    width: 100%;
    padding: 7px;
}

.check{
    width: 100%;
    padding: 10px; 
    margin-left: 1px;
}

.boton{
    width: 60%;
    padding: 2px; 
    margin-left: 90px;
}



    
